@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .quiz_card {
  display: flex;
  margin: 12px;
}

.quiz_card > * {
  flex-basis: 100%;
} */

.quiz_card {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.quiz_card > * {
  flex: 1 1 25em;
}

.button-link {
  text-decoration: None;
}

.add_quiz_form {
  display: block;
  place-items: center;
  margin: 2em
}

.add_questions_form {
  display: grid;
  grid-template-columns: minmax(200px, 30%) auto;
  column-gap: 1em;
}

